<div class="replies_form">
  <div class="replies_container">
    <h2 class="replies_title">Reply</h2>
    <%= form_with model: [ topic, topic.reply.build ] do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>
      <p>
        <%= form.label :comment %>
        <%= form.text_area :comment, size:"70x5" %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>
