<div class="topic_form">
  <div class="topic_container">
    <h2 class="topic_title">Topic</h2>
    <%= form_with model: [ board, board.topics.build ] do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% if defined? topic.errors %>
          <% topic.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        <% end %>
      </p>
      <p>
        <%= form.label :subject %><br>
        <%= form.text_field :subject %>
        <% if defined? topic.errors %>
          <% topic.errors.full_messages_for(:subject).each do |message| %>
            <div><%= message %></div>
          <% end %>
        <% end %>
      </p>
      <p>
        <%= form.label :comment %>
        <%= form.text_area :comment, size:"70x5" %>
        <% if defined? topic.errors %>
          <% topic.errors.full_messages_for(:comment).each do |message| %>
            <div><%= message %></div>
          <% end %>
        <% end %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>

