<%= render "boards/boardslist", boards: @boards %>

[<%= link_to 'Back', :back %>]

<div class="replies_op">
  <h1><%= @topic.subject %> - <%= @topic.name %> </h1>
  <p><%= @topic.comment %></p>
</div>

<div class="reply_catalog">
  <%= render @topic.reply %>
</div>

<%= render "replies/form", topic: @topic %>

