<%= render "shared/boardslist", boards: @boards %>

<h1 class="board_show_title">/<%= @board.short_name %>/ - <%= @board.name %></h1>

<div class="board_options">
  [<a href="/boards/<%= @board.id %>">Back</a>]
</div>

<div class="replies_op">
  <h2><%= @topic.subject %> - <%= @topic.name %> - <%= @topic.created_at %> </h2>
  <p><%= @topic.comment %></p>
</div>


<div class="reply_catalog">
  <%= render @topic.reply %>
</div>

<%= render "replies/form", topic: @topic, reply: @reply %>
