<%= form_with model: user do |form| %>
  <%= form.invisible_captcha :subtitle %>
  <%= form.label :username %>
  <%= 
      form.text_field :username,
      class: "form_textfield"
  %>
  <% if defined? user.errors %>
    <% user.errors.full_messages_for(:username).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  <% end %>
  <%= form.label :password %>
  <%= 
    form.password_field :password, 
    class: "form_textfield"
  %>
  <% if defined? user.errors %>
    <% user.errors.full_messages_for(:password).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  <% end %>
  <%= form.label :password_confirmation %>
  <%= 
    form.password_field :password_confirmation,
    class: "form_textfield"
  %>
  <% if defined? user.errors %>
    <% user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  <% end %>
    <%= form.label :role %> </br>
    <%= 
      form.select :role,
      [["Admin", "admin"], ["Moderator", "moderator"]],
      { selected: "Admin" },
      { class: "form_textfield" }
    %>
  <%= form.submit "Create Account", class: "form_button"%>
<% end %>
