<h1>New Users Page</h1>

<%= @users.inspect %>

<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :password %>
  <%= form.text_field :password %>
  <%= form.submit "Create Account" %>
<% end %>
