<%= render "shared/boardslist", boards: @boards %>

<h1 class="board_show_title">/<%= @board.short_name %>/ - <%= @board.name %></h1>

[<a href="">Refresh</a>]

<%= render "topics/form", board: @board %>

<div class="board_catalog">
  <%= render "topics/topic", board: @board, topics: @board.topics %>
</div>
